<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=MISLW1AD899191;Initial Catalog=Inventory;Persist Security Info=True;UID=sa;PWD=Tom&amp;Jerry1;MultipleActiveResultSets=False;Packet Size=4096;Connection Timeout=1800" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>