.overlay {
    background-color: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
}

.loading-animation {
    width: 700px;
    height: 600px;;
    left: 20%;
    position: relative;
    z-index: 9999;
}