.overlay {
    background-color: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 200%;
    opacity: 1;
    text-align: center;
}

.loading-animation {
    top: 30%;
    position: relative;
}

.loading-animation img {
    width: 100px;
    height: 100px;
    z-index: 10;
}