
WebApi/DAL/bin/Debug/DAL.dll
WebApi/DAL/bin/Debug/DAL.dll.config
WebApi/DAL/bin/Debug/DAL.pdb
WebApi/DAL/bin/Release/DAL.dll
WebApi/DAL/bin/Release/DAL.dll.config
WebApi/DAL/bin/Release/DAL.pdb
WebApi/DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
WebApi/DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
WebApi/DAL/obj/Debug/DAL.csprojAssemblyReference.cache
WebApi/DAL/obj/Debug/DAL.dll
WebApi/DAL/obj/Debug/DAL.pdb
WebApi/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApi/DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApi/DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApi/DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApi/DAL/obj/Release/DAL.csproj.CoreCompileInputs.cache
WebApi/DAL/obj/Release/DAL.csproj.FileListAbsolute.txt
WebApi/DAL/obj/Release/DAL.csprojAssemblyReference.cache
WebApi/DAL/obj/Release/DAL.dll
WebApi/DAL/obj/Release/DAL.pdb
WebApi/DAL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApi/DAL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApi/DAL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApi/DbReport/obj/Debug/DbReport.sqlprojAssemblyReference.cache
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/.signature.p7s
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/app.config.install.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/app.config.uninstall.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/web.config.install.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/web.config.uninstall.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/app.config.install.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/app.config.uninstall.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/web.config.install.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/web.config.uninstall.xdt
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0.nupkg
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/install.ps1
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/uninstall.ps1
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.exe.config
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.rsp
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csi.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csi.rsp
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CSharp.Core.targets
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.AppContext.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.Collections.Immutable.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.Diagnostics.StackTrace.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.IO.FileSystem.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.Reflection.Metadata.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.exe.config
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.rsp
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/VBCSCompiler.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/VBCSCompiler.exe.config
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.exe.config
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.rsp
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.exe.config
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.rsp
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CSharp.Core.targets
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.Managed.Core.targets
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.AppContext.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Collections.Immutable.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Console.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.Compression.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.FileSystem.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.Pipes.AccessControl.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.Pipes.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Reflection.Metadata.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.AccessControl.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Claims.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Principal.Windows.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.ValueTuple.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.ReaderWriter.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.XmlDocument.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.XPath.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.exe.config
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.rsp
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/VBCSCompiler.exe
WebApi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/VBCSCompiler.exe.config
WebApi/packages/Microsoft.Report.Viewer.11.0.0.0/.signature.p7s
WebApi/packages/Microsoft.Report.Viewer.11.0.0.0/lib/net/Microsoft.ReportViewer.Common.dll
WebApi/packages/Microsoft.Report.Viewer.11.0.0.0/lib/net/Microsoft.ReportViewer.ProcessingObjectModel.DLL
WebApi/packages/Microsoft.Report.Viewer.11.0.0.0/lib/net/Microsoft.ReportViewer.WebForms.DLL
WebApi/packages/Microsoft.Report.Viewer.11.0.0.0/Microsoft.Report.Viewer.11.0.0.0.nupkg
WebApi/packages/Microsoft.ReportViewer.Common.VS2010.10.0.40219.1/.signature.p7s
WebApi/packages/Microsoft.ReportViewer.Common.VS2010.10.0.40219.1/lib/net40/Microsoft.ReportViewer.Common.dll
WebApi/packages/Microsoft.ReportViewer.Common.VS2010.10.0.40219.1/Microsoft.ReportViewer.Common.VS2010.10.0.40219.1.nupkg
WebApi/packages/Microsoft.ReportViewer.WinForms.VS2010.10.0.40219.1/.signature.p7s
WebApi/packages/Microsoft.ReportViewer.WinForms.VS2010.10.0.40219.1/lib/net40/Microsoft.ReportViewer.WinForms.dll
WebApi/packages/Microsoft.ReportViewer.WinForms.VS2010.10.0.40219.1/lib/net40/Microsoft.ReportViewer.WinForms.xml
WebApi/packages/Microsoft.ReportViewer.WinForms.VS2010.10.0.40219.1/Microsoft.ReportViewer.WinForms.VS2010.10.0.40219.1.nupkg
WebApi/packages/RDLCReportRunner.1.0.0/.signature.p7s
WebApi/packages/RDLCReportRunner.1.0.0/lib/RDLCReportRunner.dll
WebApi/packages/RDLCReportRunner.1.0.0/RDLCReportRunner.1.0.0.nupkg
WebApi/Report/bin/DAL.dll
WebApi/Report/bin/DAL.dll.config
WebApi/Report/bin/DAL.pdb
WebApi/Report/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebApi/Report/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebApi/Report/bin/Microsoft.ReportViewer.Common.dll
WebApi/Report/bin/Microsoft.ReportViewer.ProcessingObjectModel.DLL
WebApi/Report/bin/Microsoft.ReportViewer.WebForms.DLL
WebApi/Report/bin/Microsoft.ReportViewer.WinForms.dll
WebApi/Report/bin/Microsoft.ReportViewer.WinForms.xml
WebApi/Report/bin/RDLCReportRunner.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/DAL.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/DAL.dll.config
WebApi/WebApi/bin/Debug/netcoreapp2.2/DAL.pdb
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/bin/Release/netcoreapp2.2/DAL.dll
WebApi/WebApi/bin/Release/netcoreapp2.2/DAL.dll.config
WebApi/WebApi/bin/Release/netcoreapp2.2/DAL.pdb
WebApi/WebApi/bin/Release/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Release/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Release/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/bin/Release/netcoreapp2.2/WebApi.runtimeconfig.dev.json
WebApi/WebApi/bin/Release/netcoreapp2.2/WebApi.runtimeconfig.json
WebApi/Report/bin/Report.dll
WebApi/Report/bin/Report.dll.config
WebApi/Report/bin/Report.pdb
WebApi/Report/bin/roslyn/csc.exe
WebApi/Report/bin/roslyn/csc.exe.config
WebApi/Report/bin/roslyn/csc.rsp
WebApi/Report/bin/roslyn/csi.exe
WebApi/Report/bin/roslyn/csi.exe.config
WebApi/Report/bin/roslyn/csi.rsp
WebApi/Report/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebApi/Report/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebApi/Report/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebApi/Report/bin/roslyn/Microsoft.CodeAnalysis.dll
WebApi/Report/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
WebApi/Report/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WebApi/Report/bin/roslyn/Microsoft.CSharp.Core.targets
WebApi/Report/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
WebApi/Report/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
WebApi/Report/bin/roslyn/Microsoft.Managed.Core.targets
WebApi/Report/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebApi/Report/bin/roslyn/System.AppContext.dll
WebApi/Report/bin/roslyn/System.Collections.Immutable.dll
WebApi/Report/bin/roslyn/System.Console.dll
WebApi/Report/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
WebApi/Report/bin/roslyn/System.Diagnostics.StackTrace.dll
WebApi/Report/bin/roslyn/System.IO.Compression.dll
WebApi/Report/bin/roslyn/System.IO.FileSystem.dll
WebApi/Report/bin/roslyn/System.IO.FileSystem.Primitives.dll
WebApi/Report/bin/roslyn/System.IO.Pipes.AccessControl.dll
WebApi/Report/bin/roslyn/System.IO.Pipes.dll
WebApi/Report/bin/roslyn/System.Reflection.Metadata.dll
WebApi/Report/bin/roslyn/System.Security.AccessControl.dll
WebApi/Report/bin/roslyn/System.Security.Claims.dll
WebApi/Report/bin/roslyn/System.Security.Cryptography.Algorithms.dll
WebApi/Report/bin/roslyn/System.Security.Cryptography.Encoding.dll
WebApi/Report/bin/roslyn/System.Security.Cryptography.Primitives.dll
WebApi/Report/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
WebApi/Report/bin/roslyn/System.Security.Principal.Windows.dll
WebApi/Report/bin/roslyn/System.Text.Encoding.CodePages.dll
WebApi/Report/bin/roslyn/System.ValueTuple.dll
WebApi/Report/bin/roslyn/System.Xml.ReaderWriter.dll
WebApi/Report/bin/roslyn/System.Xml.XmlDocument.dll
WebApi/Report/bin/roslyn/System.Xml.XPath.dll
WebApi/Report/bin/roslyn/System.Xml.XPath.XDocument.dll
WebApi/Report/bin/roslyn/vbc.exe
WebApi/Report/bin/roslyn/vbc.exe.config
WebApi/Report/bin/roslyn/vbc.rsp
WebApi/Report/bin/roslyn/VBCSCompiler.exe
WebApi/Report/bin/roslyn/VBCSCompiler.exe.config
WebApi/Report/bin/WebApi.dll
WebApi/Report/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WebApi/Report/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApi/Report/obj/Debug/Report.csproj.CopyComplete
WebApi/Report/obj/Debug/Report.csproj.CoreCompileInputs.cache
WebApi/Report/obj/Debug/Report.csproj.FileListAbsolute.txt
WebApi/Report/obj/Debug/Report.csprojAssemblyReference.cache
WebApi/Report/obj/Debug/Report.dll
WebApi/Report/obj/Debug/Report.pdb
WebApi/Report/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApi/Report/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApi/Report/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApi/Report/obj/Debug/TempPE/CompanyDataset.Designer.cs.dll
WebApi/Report/obj/Release/Report.csproj.CoreCompileInputs.cache
WebApi/Report/obj/Release/Report.csprojAssemblyReference.cache
WebApi/Report/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApi/Report/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApi/Report/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.CopyComplete
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csprojAssemblyReference.cache
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/project.assets.json
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.Development.json
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/DAL.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/DAL.dll.config
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/DAL.pdb
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/dotnet-aspnet-codegenerator-design.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.CodeAnalysis.Workspaces.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/project.assets.json
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/NuGet.Frameworks.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.AttributedModel.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Convention.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Hosting.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Runtime.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.TypedParts.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Web.config
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/WebApi.deps.json
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/WebApi.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/WebApi.pdb
WebApi/WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/WebApi.runtimeconfig.json
WebApi/WebApi/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApi/WebApi/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/project.assets.json
WebApi/WebApi/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.AssemblyInfo.cs
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.AssemblyInfoInputs.cache
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.assets.cache
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.csproj.CopyComplete
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.csprojAssemblyReference.cache
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.dll
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.RazorAssemblyInfo.cache
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.RazorAssemblyInfo.cs
WebApi/WebApi/obj/Release/netcoreapp2.2/WebApi.RazorTargetAssemblyInfo.cache
WebApi/WebApi/obj/WebApi.csproj.nuget.cache
WebApi/WebApi/Properties/PublishProfiles/FolderProfile.pubxml
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/project.assets.json
WebApi/WebApi/obj/WebApi.csproj.nuget.cache
WebApi/WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.deps.json
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.CoreCompileInputs.cache
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.csproj.FileListAbsolute.txt
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.dll
WebApi/WebApi/obj/Debug/netcoreapp2.2/WebApi.pdb
WebApi/WebApi/obj/project.assets.json
WebApi/WebApi/obj/WebApi.csproj.nuget.cache
