<div class="card">
  <div class="card-header">
    Scan by Box Number
  </div>
  <div class="card-body">
      <!-- <div class="radio">
        <label><input type="radio" name="optradio" value="1" [(ngModel)]="selection"> Invoice Number</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio" value="2" [(ngModel)]="selection"> Box Number</label>
      </div> -->
      <input type="text" class="form-control" [(ngModel)]="barcodeValue" placeholder="Type here to generate barcode" style="width: 300px;"/>
      <button (click)="receive()" class="btn btn-primary">Receive Item</button>

      <div style="margin-top: 20px; width: 640px; height: 480px;">
        <barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
          <div [hidden]="!barcodeValue">
              {{barcodeValue}}
          </div>
      </div>
  </div>
</div>


<!-- <div style="margin-top: 20px;">
  <ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode>
</div> -->

