<div class="standard-margin">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="grid-header">
        Minimum Quantity Parts
      </div>
      <simple-grid [data]="minQtyParts" [columns]="minQtyGridColumn" [addRequired]="false" [exportRequired]="false" ></simple-grid>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="grid-header">
        Zero Quantity Parts
      </div>
      <simple-grid [data]="zeroQtyParts" [columns]="zeroQtyPartsGridColumn" [addRequired]="false" [exportRequired]="false" ></simple-grid>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="grid-header">
        Zero Transit Parts
      </div>
      <simple-grid [data]="zeroInTransitParts" [columns]="zeroInTransitQtyPartsGridColumn" [addRequired]="false" [exportRequired]="false" ></simple-grid>
    </div>
  </div>
</div>

<loader></loader>