<div class="card standard-margin-top" style="width: 38%;">
  <div class="card-header">
    <strong>POS Upload & Remove</strong>
  </div>
  <div class="card-body">
    <div>
      <label><input type="radio" name="optradio" value="" checked (change)="uploadSelected($event)"> Upload</label>
      <label class="standard-margin-left"><input type="radio" name="optradio" value="" (change)="masterSelected($event)"> Master</label>
      <label class="standard-margin-left"><input type="radio" name="optradio" value="" (change)="deleteSelected($event)"> Remove</label>
    </div>
    <select class="form-control" (change)="customerSelected()" [(ngModel)]="customerId">
      <option value="-1">Select Customer</option>
      <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
    </select>
    <select *ngIf="selection == 1" class="form-control standard-margin-top" [(ngModel)]="shipmentId">
      <option value="-1">Select Shipment</option>
      <option *ngFor="let shipment of data" [value]="shipment.id">{{shipment.packingSlipNo}}</option>
    </select>
    <select *ngIf="selection == 3" class="form-control standard-margin-top" [(ngModel)]="shipmentId">
      <option value="-1">Select Shipment</option>
      <option *ngFor="let shipment of data" [value]="shipment.id">{{shipment.masterPackingSlipNo}}</option>
    </select>
    <input *ngIf="selection == 1 || selection == 3" class="form-control standard-margin-top input" type="text" placeholder="Enter the tracking number" [(ngModel)]="tracking"/>
    <input *ngIf="selection == 1 || selection == 3" class="form-control standard-margin-top input" type="file" placeholder="Select POS file to upload" (change)="uploadFile($event.target.files)"/>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary pull-right" (click)="upload()" *ngIf="selection == 1 || selection == 3">Upload</button>
    <button class="btn btn-primary pull-right" *ngIf="selection == 2">Remove</button>
  </div>
</div>

<loader></loader>