<div class="row" style="margin-left: 1px;">
  <select (change)="supplierSelected()" class="form-control" style="width: 350px; margin-bottom: 5px;" [(ngModel)]='supplierId'>
    <option value="-1">Please select a supplier</option>
    <option [value]="supplier.id" *ngFor="let supplier of suppliers">{{supplier.name}}</option>
  </select>
  <div class="form-check" style="margin-left: 5px; padding-top: 5px;">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (change)="showFullOrderDetails($event)" [(ngModel)]="showFullDetails">
    <label class="form-check-label" for="defaultCheck1">
      Show Full Details
    </label>
  </div>
</div>

<simple-grid [data]="purchaseOrderViewModels" [columns]="gridColumns" (selectedRow)="rowSelected($event)" [addRequired]="true"
    [exportRequired]="false" (addClickedEventEmitter)="addPurchaseOrder()" (actionButtonClickedEvent)="[actionButtonClicked($event)]">
</simple-grid>

<loader></loader>