<div class="row" style="margin-left: 1px;">
  <select (change)="supplierSelected()" class="form-control" style="width: 350px; margin-bottom: 5px;" [(ngModel)]='supplierId'>
    <option value="-1">Please select a supplier</option>
    <option [value]="supplier.id" *ngFor="let supplier of suppliers">{{supplier.name}}</option>
  </select>
  <div class="form-check" style="margin-left: 15px; padding-top: 5px;">
    <input class="form-check-input" type="checkbox" id="showFullDetailsCheckbox" (change)="showFullOrderDetails($event)" [(ngModel)]="showFullDetails">
    <label class="form-check-label" for="showFullDetailsCheckbox">
      Show Full Details
    </label>
  </div>
  <div class="form-check" style="margin-left: 15px; padding-top: 5px;">
    <input class="form-check-input" type="checkbox" id="showOnlyOpenOrderCheckbox" (change)="showOnlyOpenOrdersEvent($event)" [(ngModel)]="showOnlyOpenOrders">
    <label class="form-check-label" for="showOnlyOpenOrderCheckbox">
      Show Only Open Orders
    </label>
  </div>
  <div class="form-check" style="margin-left: 15px; padding-top: 5px;">
    <input class="form-check-input" type="checkbox" value="" id="showAcknolwedgedOrders" (change)="showOnlyAcknowledgedOrdersEvent($event)" [(ngModel)]="showAcknowledgedOrders">
    <label class="form-check-label" for="showAcknolwedgedOrders">
      Is Acknowledged
    </label>
  </div>
  <div class="form-check" style="margin-left: 15px; padding-top: 5px;" *ngIf="false">
    <input class="form-check-input" type="checkbox" id="showLateOrderCheckbox" (change)="showLateOrdersEvent($event)" [(ngModel)]="showLateOrders">
    <label class="form-check-label" for="showLateOrderCheckbox">
      Orders passed Due Date
    </label>
  </div>
</div>

<simple-grid [data]="purchaseOrderViewModels" [columns]="gridColumns" (selectedRow)="rowSelected($event)" [addRequired]="true"
    [exportRequired]="false" (addClickedEventEmitter)="addPurchaseOrder()" (actionButtonClickedEvent)="[actionButtonClicked($event)]">
</simple-grid>

<loader></loader>