<form [formGroup]="invoiceForm">
  <select (change)="supplierSelected()" formControlName="supplierList">
    <option value="-1">Select Supplier</option>
    <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
  </select>
  <div class="standard-margin">
    <simple-grid [data]="invoices" [columns]="columns" (selectedRow)="rowSelected($event)" (addClickedEventEmitter)="uploadInvoice()"  (actionButtonClickedEvent)="[actionButtonClicked($event), barcode.show()]"></simple-grid>
  </div>
  <loader>
    
  </loader>
</form>

<button type="button" class="btn btn-secondary mr-1" data-toggle="modal" (click)="barcode.show()">
  Launch demo modal
</button>

<div bsModal #barcode="bs-modal" class="modal fade" id="print-section" tabindex="-1" role="dialog" aria-labelledby="barcodeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Barcode</h4>
        <button type="button" class="close" (click)="barcode.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="btn btn-primary" (click)="print()">Print</button>
      </div>
    </div>
  </div>
</div>