<form [formGroup]="invoiceForm">
  <div class="row" style="margin-left: 1px;">
    <select class="form-group" (change)="supplierSelected()" formControlName="supplierList" class="form-control" style="float: left; width: 350px; margin-bottom: 5px;">
      <option value="-1">Show for all Suppliers</option>
      <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
    </select>
    <div class="form-check" style="margin-left: 15px; padding-top: 5px; float: left;">
      <input class="form-check-input" type="checkbox" id="showNotReceivedOrders" (change)="showNotReceivedOrdersEvent($event)" formControlName="showNotReceivedOrders">
      <label class="form-check-label" for="showNotReceivedOrders">
        Show Not Received Orders
      </label>
    </div>
  </div>
  <div>
    <simple-grid [data]="filteredInvoices" [columns]="columns" (selectedRow)="rowSelected($event)" (addClickedEventEmitter)="uploadInvoice()"  (actionButtonClickedEvent)="[actionButtonClicked($event)]"></simple-grid>
  </div>
  <loader></loader>
</form>

<div bsModal #barcode="bs-modal" class="modal fade" id="print-section" tabindex="-1" role="dialog" aria-labelledby="barcodeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Barcode</h4>
        <button type="button" class="close" (click)="barcode.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>