<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="card">
      <div class="card-header">
        Box Details
      </div>
      <div class="card-body">
        <div class="form-group standard-top-margin col-xs-6 col-md-6">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="box.name"/>
        </div>
        <div class="form-group standard-top-margin col-xs-6 col-md-6">
          <label>Description</label>
          <input type="text" class="form-control" [(ngModel)]="box.description"/>
        </div>
        <div class="form-group standard-top-margin col-xs-6 col-md-6">
          <label>Locations</label>
          <select class="form-control" [(ngModel)]="box.locationId">
            <option value="-1">Default</option>
            <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<loader></loader>