<div class="row">
  <div class="col-md-12 col-xs-12">
    <button (click)="addCompany()" class="btn btn-primary float-right">Add</button>
  </div>
</div>

<div class="row standard-top-margin">
  <div class="col-md-12 col-xs-12 col-lg-12">
    <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone No</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of companies">
                <td><span class="clickable" (click)="companySelected(company.id)">{{company.name}}</span></td>
                <td>{{company.address}}</td>
                <td>{{company.phoneNo}}</td>
                <td>{{company.eMail}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>