.standard-top-left {
    margin-left: 20px;
}

.clickable {
    color: #1A8EB7;
    text-decoration: underline;
    cursor: pointer;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.descending-order-icon {
    margin-left: -6px;
}

table, button, input {
    font-size: smaller;
}

.min-width {
    width: 100px;
}