<form [formGroup]="companyForm">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          <strong>Company Details</strong>
        </div>

        <div class="card-body">
          <div class="form-group standard-top-margin">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="company.name"/>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Company Name is required</div>
            </div>
          </div>
          <div class="form-group standard-top-margin">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" [(ngModel)]="company.address"/>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Company Address is required</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group standard-top-margin col-md-6 col-xs-6">
              <label>Phone Number</label>
              <input type="tel" formControlName="phoneNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" [(ngModel)]="company.phoneNo"/>
              <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNo.errors.required">Company Phone Number is required</div>
              </div>
            </div>
            <div class="form-group standard-top-margin col-md-6 col-xs-6">
              <label>Fax Number</label>
              <input type="tel" formControlName="faxNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.faxNo.errors }" [(ngModel)]="company.faxNo"/>
              <div *ngIf="submitted && f.faxNo.errors" class="invalid-feedback">
                <div *ngIf="f.faxNo.errors.required">Company Fax Number is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group standard-top-margin col-md-6 col-xs-6">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="company.eMail"/>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Valid Company Email is required</div>
              </div>
            </div>
            <div class="form-group standard-top-margin col-md-6 col-xs-6">
              <label>Contact Person</label>
              <input type="tel" formControlName="contactPersonName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactPersonName.errors }" [(ngModel)]="company.contactPersonName"/>
              <div *ngIf="submitted && f.contactPersonName.errors" class="invalid-feedback">
                <div *ngIf="f.contactPersonName.errors.required">Contact Person Name is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          <strong>Warehouse Details</strong>
        </div>
        <div class="card-body">
          <div class="form-group standard-top-margin">
            <label>Warehouse Name</label>
            <input type="text" formControlName="whName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.whName.errors }" [(ngModel)]="company.whName"/>
            <div *ngIf="submitted && f.whName.errors" class="invalid-feedback">
              <div *ngIf="f.whName.errors.required">Warehouse Name is required</div>
            </div>
          </div>
          <div class="form-group standard-top-margin">
            <label>Warehouse Address</label>
            <input type="text" formControlName="whAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.whAddress.errors }" [(ngModel)]="company.whAddress"/>
            <div *ngIf="submitted && f.whAddress.errors" class="invalid-feedback">
              <div *ngIf="f.whAddress.errors.required">Warehouse Address is required</div>
            </div>
          </div>
          <div class="form-group standard-top-margin">
            <label>Warehouse Phone Number</label>
            <input type="text" formControlName="whPhoneNo" class="form-control" [(ngModel)]="company.whPhoneNo" [ngClass]="{ 'is-invalid': submitted && f.whPhoneNo.errors }"/>
            <div *ngIf="submitted && f.whPhoneNo.errors" class="invalid-feedback">
              <div *ngIf="f.whPhoneNo.errors.required">Warehouse Phone Number is required</div>
            </div>
          </div>
          <div class="form-group standard-top-margin">
            <label>Warehouse Email</label>
            <input type="email" formControlName="whEmail" class="form-control" [(ngModel)]="company.whEmail" [ngClass]="{ 'is-invalid': submitted && f.whEmail.errors }"/>
            <div *ngIf="submitted && f.whEmail.errors" class="invalid-feedback">
              <div *ngIf="f.whEmail.errors.required">Warehouse Email is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <strong>Warehouse</strong>
          <button class="btn btn-primary float-right" (click)="addMoreWarehouse()">Add Warehouse</button>
        </div>
        <div class="card-body">
          <div *ngFor="let warehouse of company.warehouses; let i=index">
            <div class="input-group">
              <input type="text" class="form-control standard-top-margin" [(ngModel)]="warehouse.name" [ngModelOptions]="{standalone: true}"/>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="card">
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Save</button>
            <span *ngIf="company.id == 0" class="btn btn-warning" (click)="clear()"><span class="fa fa-eraser"></span> Clear</span>
            <!-- <span class="btn btn-danger" (click)="delete()" *ngIf="company.id > 0" ><span class="fa fa-remove"></span> Delete</span> -->
        </div>
      </div>
    </div>
  </div>
  
</form>