<div class="card">
  <div class="card-header">
      <select class="form-control pull-left" (change)="optionSelected()" [(ngModel)]="selectedOption">
        <option value="-1">Select data type to upload</option>
        <option value="1">Company</option>
        <option value="2">Customer</option>
        <option value="3">Parts</option>
        <option value="4">Supplier</option>
      </select>
      <button class="btn btn-primary pull-left standard-margin-left" (click)="readData()">Read Data</button>
  </div>

  <div class="card-body">
    <simple-grid [addRequired]="false" [exportRequired]="false" [data]="data" [columns]="columns" ></simple-grid>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary pull-right">Upload Data</button>
  </div>
</div>