.center-align {
    text-align: center;
}

.standard-margin {
    margin-top: 20px;
}

.card-container-div {
    margin-top: 10px;
}

.action-buttons {
    text-align: center;
    vertical-align: middle;
}