<div class="row" style="margin-left: 1px; margin-bottom: 5px;">
    <select class="form-control" style="width: 300px; float: left;" (change)="filterByCustomer($event)">
        <option value="-1">Show for all customers</option>
        <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
    </select>
</div>

<simple-grid [data]="filteredShipments" [columns]="columns" [exportRequired]="false" (addClickedEventEmitter)="addShipment()"
(actionButtonClickedEvent)="[actionButtonClicked($event)]"></simple-grid>

<loader></loader>