<div class="row">
  <div class="input-group col-xs-6 col-md-6">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="radio" name="selection">
      </div>
    </div>
    <select class="form-control" (change)="setFormForSupplierSelection()">
      <option value="-1">Create Order by selecting Supplier</option>
      <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
    </select>
  </div>
  <div class="input-group col-xs-6 col-md-6">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="radio" name="selection">
      </div>
    </div>
    <select class="form-control" (change)="setFormForCustomerSelection()">
      <option value="-1">Create order by selecting Customer</option>
      <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
    </select>
  </div>
</div>

<div class="row standard-margin-top">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="card">
      <div class="card-header">
          <strong>Order Details</strong>
      </div>
      <div class="card-body">
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">PO Number</label>
          <input type="text" class="form-control col-md-9 col-xs-9"/>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">PO Date</label>
          <input type="date" class="form-control col-md-5 col-xs-5"/>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Due Date</label>
          <input type="date" class="form-control col-md-5 col-xs-5"/>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Email</label>
          <textarea rows="4" class="form-control col-md-9 col-xs-9"></textarea>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Remarks</label>
          <textarea rows="4" class="form-control col-md-9 col-xs-9"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="card">
      <div class="card-header">
          <strong>Part Details</strong>
      </div>
      <div class="card-body">
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Part Number</label>
          <select class="form-control col-md-9 col-xs-9">
              <option value="-1">Select Part By Code</option>
              <option *ngFor="let part of selectedParts" [value]="part.id">{{part.code}}</option>
          </select>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Part Name</label>
          <select class="form-control col-md-9 col-xs-9">
              <option value="-1">Select Part By Name</option>
              <option *ngFor="let part of selectedParts" [value]="part.id">{{part.description}}</option>
          </select>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Reference</label>
          <input type="text" class="form-control col-md-9 col-xs-9"/>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Quantity</label>
          <input type="text" class="form-control col-md-3 col-xs-3"/>
          <label class="col-md-3 col-xs-3 label-top-adjustment">Price</label>
          <input type="text" class="form-control col-md-3 col-xs-3"/>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Due Date</label>
          <input type="date" class="form-control col-md-5 col-xs-5"/>
        </div>
        <div class="form-group standard-top-margin row">
          <label class="col-md-3 col-xs-3 label-top-adjustment">Notes</label>
          <textarea rows="3" class="form-control col-md-9 col-xs-9"></textarea>
        </div>
        <button class="btn btn-primary pull-right">Add</button>
      </div>
    </div>
  </div>

  <div class="row">
      <simple-grid [data]="selectedParts" [columns]="partsGridColumns" [headerRequired]="false" [footerRequired]="false">

      </simple-grid>
  </div>
</div>