<form [formGroup]="orderForm">
  <div class="row" style="background-color: white; padding: 5px; width: 100%; margin-left: 3px; border-radius: 4px;">
    <div class="input-group col-xs-6 col-md-6">
      <div class="input-group-prepend">
        <div class="input-group-text" hidden>
          <input type="radio" name="selection" (change)="supplierOptionSelected()">
        </div>
      </div>
      <select disabled *ngIf='SelectedSupplier >= 0' class="form-control" (change)="setFormForSupplierSelection()" formControlName="suppliersList">
        <option value="-1">Create Order by selecting Supplier</option>
        <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
      </select>
      <select disabled *ngIf='SelectedCustomer >= 0' class="form-control" (change)="setFormForCustomerSelection()" formControlName="customersList">
        <option value="-1">Create order by selecting Customer</option>
        <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
      </select>
    </div>
    <div class="input-group col-xs-6 col-md-6">
      <div class="input-group-prepend">
        <div class="input-group-text" hidden>
          <input type="radio" name="selection" (change)="customerOptionSelected()">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row standard-margin-top">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          <strong>Order </strong>Details
        </div>
        <div class="card-body">
          <div class="form-group standard-top-margin row" *ngIf="SelectedCustomer > -1">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Blank PO</label>
            <label class="switch switch-3d switch-primary">
              <input class="switch-input" type="checkbox" [(ngModel)]="isBlanketPO" [ngModelOptions]="{standalone: true}" disabled/>
              <span class="switch-slider"></span>
            </label>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">PO Number</label>
            <input type="text" formControlName="poNo" class="form-control col-md-9 col-xs-9" [(ngModel)]="purchaseOrder.poNo"/>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">PO Date</label>
            <input [attr.disabled]="disabled? '': null" type="date" (change)='dueDateChanged($event)' formControlName="poDate" class="form-control col-md-5 col-xs-5" [(ngModel)]="purchaseOrder.poDate"/>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Due Date</label>
            <input [attr.disabled]="disabled? '': null" type="date" formControlName="dueDate" class="form-control col-md-5 col-xs-5" [(ngModel)]="purchaseOrder.dueDate"/>
          </div>
          <div class="form-group standard-top-margin row" *ngIf="SelectedSupplier > -1">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Email</label>
            <textarea [attr.disabled]="disabled? '': null" rows="4" formControlName="emailIds" class="form-control col-md-9 col-xs-9" [(ngModel)]="purchaseOrder.emailIds"></textarea>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Remarks</label>
            <textarea [attr.disabled]="disabled? '': null" rows="4" formControlName="remarks" class="form-control col-md-9 col-xs-9" [(ngModel)]="purchaseOrder.remarks"></textarea>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header">
            <strong>Part </strong>Details
        </div>
        <div class="card-body">
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Part Number</label>
            <select [attr.disabled]="disabled? '': null" class="form-control col-md-9 col-xs-9" (change)="partSelected('code')" formControlName="partCode">
                <option value="-1">Select Part By Code</option>
                <option *ngFor="let part of selectedParts" [value]="part.id">{{part.code}}</option>
            </select>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Part Name</label>
            <select [attr.disabled]="disabled? '': null" class="form-control col-md-9 col-xs-9" (change)="partSelected('description')" formControlName="partDescription" [(ngModel)]="partDescription">
                <option value="-1">Select Part By Name</option>
                <option *ngFor="let part of selectedParts" [value]="part.id">{{part.description}}</option>
            </select>
          </div>
          <div class="form-group standard-top-margin row" *ngIf="SelectedCustomer > -1 && !isBlanketPO">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Blank PO</label>
            <select disabled class="form-control col-md-3 col-xs-3" formControlName="blanketPOId" [(ngModel)]="blanketPOId" (change)="blankPOSelected()">
                <option value="-1">Blank PO</option>
                <option *ngFor="let order of blankOrders" [value]="order.id">{{order.poNo}}</option>
            </select>
            <label class="col-md-3 col-xs-3 label-top-adjustment">Open Qty</label>
            <input disabled class="col-md-3 col-xs-3 form-control" type="text" formControlName="blanketPOAdjQty" [(ngModel)]="blanketPOAdjQty"/>
          </div>
          <div class="form-group standard-top-margin row" *ngIf="SelectedSupplier > -1">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Reference</label>
            <input [attr.disabled]="disabled? '': null" type="text" class="form-control col-md-9 col-xs-9" formControlName="reference" [(ngModel)]="reference"/>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Quantity</label>
            <input [attr.disabled]="disabled? '': null" type="text" class="form-control col-md-3 col-xs-3" formControlName="quantity" [(ngModel)]="quantity"/>
            <label class="col-md-3 col-xs-3 label-top-adjustment">Price</label>
            <input [attr.disabled]="disabled? '': null" type="text" class="form-control col-md-3 col-xs-3" formControlName="price" [(ngModel)]="price"/>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Due Date</label>
            <input [attr.disabled]="disabled? '': null" type="date" class="form-control col-md-3 col-xs-3" formControlName="dueDate" [(ngModel)]="dueDate"/>
            <label class="col-md-3 col-xs-3 label-top-adjustment" *ngIf="SelectedCustomer > -1">Line No</label>
            <input *ngIf="SelectedCustomer > -1" [attr.disabled]="disabled? '': null" type="text" class="form-control col-md-3 col-xs-3" formControlName="lineNumber" [(ngModel)]="lineNumber"/>
          </div>
          <div class="form-group standard-top-margin row">
            <label class="col-md-3 col-xs-3 label-top-adjustment">Notes</label>
            <textarea [attr.disabled]="disabled? '': null" rows="3" class="form-control col-md-9 col-xs-9" formControlName="notes" [(ngModel)]="notes"></textarea>
          </div>
          <button class="btn btn-primary pull-right" (click)="addPartToOrder()">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
        <strong>Part </strong>Details
    </div>
    <simple-grid *ngIf="SelectedSupplier > -1" [data]="purchaseOrder.poDetails" [columns]="gridColumns" [headerRequired]="false" [footerRequired]="false" [pageSize]="50" (actionButtonClickedEvent)="removePart($event)"></simple-grid>
    <simple-grid *ngIf="SelectedCustomer > -1" [data]="purchaseOrder.orderDetails" [columns]="gridColumns" [headerRequired]="false" [footerRequired]="false" [pageSize]="50" (actionButtonClickedEvent)="removePart($event)"></simple-grid>
  </div>

  <div class="card" *ngIf="SelectedSupplier > -1">
    <div class="card-header">
      <strong>Terms</strong>
      <button class="btn btn-primary float-right" (click)="addMoreTermAndCondition()">Add Term</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="form-group standard-top-margin row">
              <label class="col-md-3 col-xs-3 label-top-adjustment">Payment Term</label>
              <input [attr.disabled]="disabled? '': null" type="text" formControlName="paymentTerms" class="form-control col-md-9 col-xs-9" [(ngModel)]="purchaseOrder.paymentTerms"/>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="form-group standard-top-margin row">
              <label class="col-md-3 col-xs-3 label-top-adjustment">Delivery Term</label>
              <input [attr.disabled]="disabled? '': null" type="text" formControlName="deliveryTerms" class="form-control col-md-9 col-xs-9" [(ngModel)]="purchaseOrder.deliveryTerms"/>
            </div>
        </div>
      </div>
      <div *ngFor="let term of purchaseOrder.poTerms; let i=index">
        <div class="input-group standard-margin-top">
          <input type="text" class="form-control" [(ngModel)]="term.term" [ngModelOptions]="{standalone: true}"/>
          <div class="input-group-append">
            <span [hidden]="purchaseOrder.poTerms.length === 1" class="btn btn-danger" (click)=removeTermAndCondition(i)>
                <span class="cui-circle-x"></span>
            </span>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="card" *ngIf="orderFormMode === 1">
    <div class="card-header">
      <strong>Upload</strong> Documents
    </div>
    <div class="card-body">
      <div class="row">
          <div class="col-lg-4 col-md-4">
            <input type="file" class="btn btn-primary" (change)="addAttachment($event.target.files, 'CustomerOrder')" id="uploadCustomerOrder"/>
          </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
      <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Save</button>
  </div>
</form>